<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>goeuro.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>goeuro.%d{yyyy-MM-dd}.gz</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="logfile"/>
    </root>

    <logger name="com.goeuro" level="INFO"/>

</configuration>